= content_for :css_placeholder do
  = stylesheet_link_tag "manifests/home"
= content_for :js_placeholder do
  = javascript_include_tag "manifests/home"

.navbar.navbar-inverse.navbar-fixed-bottom{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#visit"} Visit Longsword
        %li
          %a{href: "#wines"} Our Wines
        %li
          %a{href: "#about"} About Us
        %li
          %a{href: "#contact"} Contact Us
        %li
          %a{href: "#"} FB

.header-wrapper.text-center
  .header-wrapper-inner
    .cover-container
      .inner.cover
        %h1.cover-heading Longsword Vineyard
        %p.lead Welcome to LongSword vineyard! Our tasting room is open 12-5 every day.
        %p
          8555 Highway 238, Jacksonville, OR 97530
          %br (541) 899-1746 | contact@longsword.com

#visit.visit
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1 Visit Longsword

.visit-info
  .container
    %p.lead
      LongSword is a breathtaking Chardonnay and Pinot Noir vineyard located in the heart of the Applegate Valley. A pleasant 15 minute drive from downtown Jacksonville, LongSword features table-ready wines that are distinctly approachable, charming, and complex. Here are a few of the lovely things LongSword has to offer!
    .row
      .col-md-2.col-md-offset-2.text-center
        .visit-item
          %i.service-icon.fa.fa-rocket
          %h4 Tasting Room & Patio
      .col-md-2.text-center
        .visit-item
          %i.service-icon.fa.fa-magnet
          %h4 Our Wines
      .col-md-2.text-center
        .visit-item
          %i.service-icon.fa.fa-shield
          %h4 The Vineyard & Menagerie
      .col-md-2.text-center
        .visit-item
          %i.service-icon.fa.fa-pencil
          %h4 Parasailing


#wines.wines.text-center
  %h1 Our Wines
  .container
    .row
      .col-md-2.col-md-offset-2.text-center
        .wine-item
          %i.service-icon.fa.fa-rocket
          %h4 Spacecraft Repair
          %p Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!
      .col-md-2.text-center
        .wine-item
          %i.service-icon.fa.fa-magnet
          %h4 Problem Solving
          %p Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.
      .col-md-2.text-center
        .wine-item
          %i.service-icon.fa.fa-shield
          %h4 Blacksmithing
          %p Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.
      .col-md-2.text-center
        .wine-item
          %i.service-icon.fa.fa-pencil
          %h4 Pencil Sharpening
          %p We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!


.callout
  .vert-text
    %h1 A Dramatic Text Area

#portfolio.portfolio
  .container
    .row
      .col-md-4.col-md-offset-4.text-center
        %h2 Our Work
        %hr/
    .row
      .col-md-4.col-md-offset-2.text-center
        .portfolio-item
          %a{href: "#"}
            %img.img-portfolio.img-responsive{src: "img/portfolio-1.jpg"}/
          %h4 Cityscape
      .col-md-4.text-center
        .portfolio-item
          %a{href: "#"}
            %img.img-portfolio.img-responsive{src: "img/portfolio-2.jpg"}/
          %h4 Is That On Fire?
    .row
      .col-md-4.col-md-offset-2.text-center
        .portfolio-item
          %a{href: "#"}
            %img.img-portfolio.img-responsive{src: "img/portfolio-3.jpg"}/
          %h4 Stop Sign
      .col-md-4.text-center
        .portfolio-item
          %a{href: "#"}
            %img.img-portfolio.img-responsive{src: "img/portfolio-4.jpg"}/
          %h4 Narrow Focus

.call-to-action
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %h3 The buttons below are impossible to resist.
        %a.btn.btn-lg.btn-default{href: "#"} Click Me!
        %a.btn.btn-lg.btn-primary{href: "#"} Look at Me!


#contact.map
  %iframe{frameborder: "0", height: "100%", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed", width: "100%"}
  %br/
  %small
    %a{href: "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A"}
