html,
body {
  height: 100%;
}

.header-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: #eee;
  .header-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }
  .inner {
    padding: 30px;
  }
  .cover {
    padding: 0 20px;
  }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }
  @include at-breakpoint($small-tablet-and-up) {
    .header-wrapper-inner {
      vertical-align: middle;
    }

    .cover-container {
      width: 100%;
    }
  }

  @include at-breakpoint ($desktop-layout) {
    .cover-container {
      width: 900px;
    }
  }
}


.visit, .visit-info {
  padding: 50px 0;
}


.visit-info {
  background: #ffe80e;
  padding: 50px 0;
  color: #000;
}

.visit-item {
  margin-bottom: 15px;
}

i.wine-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}


.callout {
  background: url(../img/callout.jpg) no-repeat center center scroll;
}

.map {
  height: 75%;
}
