@import '_base';

body {
  background: #000;
}

html,
body {
  font-size: 12px;
  height: 100%;
  font-family: 'Times New Roman', serif;
  a {
    color: $warm-gray;
    &:hover {
      color: $warm-gray;
    }
  }

  .global-divider {
    @media (min-width: 768px){
      margin: 40px auto 60px;
    }
  }

  hr {
    border-top: 1px ridge $light-warm-gray;
    margin: 20px 85% 20px 0;
  }

  address {
    cursor: pointer;
  }

  section {
    @media (max-width: 400px) {
      padding: 10px 0 10px;
    }
    .content {
      padding: 15px;

      @media (min-width: 768){
        padding: 0 50px;

      }
    }
  }

  h1 {
    font-size: 3.2em;
    @media (max-width: 400px) {
      font-size: 2em;
    }
    &.section-title {
      margin-top: 0;
    }
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    @media (max-width: 400px) {
      font-size: 1.2em;
    }
    &.lead {
      padding-top: 0.9em;
      font-size: 2.1em;
      line-height: 1.3em;
      font-family: 'Times New Roman', serif;
      color: $warm-gray;
      @media (max-width: 400px) {
        font-size: 1.7em;
      }
    }
  }
}

header {
  width: 100%;
  height: 100%;
}

.header-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  position: static;
  z-index: -1;
  color: $cream;
  background-image: url(image_path('header-bg.jpg'));
  background-position: auto;
  background-size: cover;

  @include transition(background 0.5s linear);

  a {
    color: $cream;
  }

  .mobile-header {
    margin-top: 2em;
  }

  .header{
    font-size: 1.2em;
    padding: 15px;
    .col-sm-4 {

      @media (min-width: 768px){
        height: 110px;
        .divider{
          text-align: center;
          border-bottom: 2px ridge $cream;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 20%;;
        }
      }

    }

    .weather-wrapper {
      p, .weather {
        display: inline-block;
      }

      .weather {
        margin-bottom: -1.7em;
        position: relative;
        bottom: 9px;
      }
    }

    p {
      padding: 0 0 1em;
      font-family: 'Times New Roman', serif;
      font-size: 0.9em;
      @media (min-width: 401px) {
        font-size: 1em;
      }

    }

    h4 {
      font-size: 1.4em;
      text-transform: uppercase;
      text-align: center;
      @media (min-width: 401px) {
        font-size: 1.5em;
      }
    }
  }

  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }



  .cover-heading {
    margin: 0 auto;
  }

  .billboard {
    min-height: 435px;
    height: 50%;
    width: 30%;
    background: url(image_path('logo.png')) no-repeat center;
    background-size: 100% auto;
  }

  .cover {
    padding: 0 20px;
  }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }

}
#navbar.affix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 79px;
  z-index: 4;


}

.navbar {
  height: 79px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  z-index: 4;
  text-transform: uppercase;
  background: #000;
  border-bottom: 3px solid $yellow;
  @include border-radius(0px);
  .navbar-collapse {
    text-align: center;
    position: absolute;
    background: black;
    border-bottom: 3px solid #fbdf54;
    z-index: 4;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9px;
    left: -1px;
    right: -1px;
    @include box-shadow(none);
    @media (min-width: 768px){
      position: static;
      margin-top: 0px;
      width: auto;
    }
  }

  .navbar-toggle {
    height: 50px;
    width: 50px;
    border: 0px solid transparent;
    background: none;
    cursor: pointer;
    &:hover, &:active, &:focus{
      border: 0px solid transparent;
      background: none;
    }
  }

  #nav-toggle{

    span, span:before,  span:after {
      border-radius: 1px;
      height: 3px;
      width: 35px;
      background: $cream;
      position: absolute;
      display: block;
      content: '';
      @include transition(all 500ms ease-in-out);
    }
    span:before {
      top: -7px;
    }
    span:after {
      bottom: -7px;
    }

    &.active {
      span{
        background-color: transparent;
        &:before, &:after{
          top: 0;
        }
        &:before{
          @include transform(rotate(45deg));
        }
        &:after {
          @include transform(rotate(-45deg));
        }
      }
    }
  }

  .navbar-justified li{
    display: inline-block;
    margin: 0 20px;
    position: relative;


    &.active > a {
      color: $yellow;
    }

    > a {
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 35px;
      font-size: 1.2em;
      color: $cream;

      &:hover, &:active, &:focus {
        color: $yellow;
        background: none;
        outline: 0;
      }

    }

    @media (max-width: 996px){
      margin: 0;
      > a {
        font-size: 1em;
      }
    }
  }


  .sublist li{
    display: none;
    position: absolute;
    text-align: left;
    text-transform: none;
    width: 100%;
    &.active {
      left: 0;
      bottom: 0;
      display: inline-block;
    }

    &.active > a {
      text-decoration: none;
      color: $cream;
    }
  }
}

#contact-tray {
  text-align: center;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding: 80px 0 30px;
  font-family: "Open Sans", san-serif;
  background: $yellow;
  color: #000;
  margin-top: -1px;

  a {
    color: #000;
  }

  .form-left, .form-right {
    display: inline-block;
    width: 50%;
    height: 110px;
  }

  .form-left {
    float: left;
  }

  .email, .name {
    height: 50%;
    padding-right: 10px;
  }

  .email {
    padding-bottom: 5px;
  }

  .name {
    padding-top: 5px;
  }

  ::-webkit-input-placeholder { color: $light-warm-gray; }
  :-moz-placeholder { color: $light-warm-gray; }
  ::-moz-placeholder { color: $light-warm-gray; }
  :-ms-input-placeholder { color: $light-warm-gray;}

  input, textarea {
    height: 100%;
    width: 100%;
    margin: 0;
    background: $cream;
    @include border-radius(0px);
  }

  p {
    font-size: 1em;
    text-transform: none;
    text-align: left;
    padding-top: 1em;
  }

  #submit {
    margin: 12px 0 85px;
    height: 50px;
    background: $cream;
    text-transform: uppercase;
    color: $dark-gray;
    border: 2px solid $dark-gray;
    @include border-radius(0px);
  }

  .close-contact {
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: $dark-gray;
    cursor: pointer;
  }

  .facebook {
    margin-left: 20px;
  }
}

.main-wrapper {
  position: relative;
  z-index: 1;
  background: $cream;
  .inner-wrapper{
    position: relative;
  }
}


#visit{
  padding-top: 45px;
  @media (max-width: 400px) {
    padding-top: 0px;
  }

  .content {
    @media (min-width: 960px){
       padding: 0 50px;
    }
  }
  .roses {
    height: 550px;
    background: url(image_path('roses.jpg')) 100% 100%;
  }

  .offerings {
    width: 100%;
  }

}

#wines {
  .image{
    position: relative;
    min-height: 400px;
    min-width: 272px;
    height: auto;
    margin-bottom: 1em;
    h3 {
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 10px;
      width: 100%;
    }
    img.wine {
      padding: 0 0 0;
      width: 100%;
      height: auto;
      top: 0;
      z-index: 0;
    }
  }
}

#about {
  margin-bottom: 250px;
  @include box-shadow(0px 0px 0px #000);
}


.slider-wrapper {
  position:relative;
  padding: 10px;



  .slider-controls{

    .global-arrow-left, .global-arrow-right{
      position: absolute;
      top: 50%;
      cursor: pointer;
      z-index: 2;
    }
    .global-arrow-left{
      left: 18px;
      @media (max-width: 768px){
        left: 0px;
      }
    }
    .global-arrow-right{
      right: 18px;
      @media (max-width: 768px){
        right: 0px;
      }
    }
  }

  .slider {
    height: 450px;
    width: 100%;

    img {
//      @include box-shadow(0px 0px 13px -1px);
      display: block;
      float: left;
      margin-right: 5px;

    }
  }

}

footer {
  background: $warm-gray;
  color: $cream;
  font-size: 0.6em;
  padding: 50px 0 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  h3 {
    font-size: 2.5em;
    text-transform: uppercase;
  }
  p {
    font-family: "Times New Roman", serif;
  }

  a {
    &.see-map{
      font-family: "Open Sans", sans-serif;
      text-decoration: underline;
    }
    color: $cream;
    &:hover {
      color: #fff;
    }
  }
}


#mapModal {
  .modal-content{
    background: #000;
    color: $cream;
  }
  .modal-header{
    border-bottom: none;
    a{
      color: $cream;
      text-decoration: underline;
    }
  }
  .modal-body{
    padding: 0;
    #gmap_canvas {
      height: 300px;
      border-top: 2px solid $yellow;
      border-bottom: 2px solid $yellow;
    }
  }
  .closeModal {
    text-align: center;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: pointer;
  }
}